html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#myCanvas {
  height: 80%;
  aspect-ratio: 16 / 9;
}

h1{
  color: chocolate;
  font-size: 40pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
